Body {
  font-family: 'Playfair Display', serif;
}
.header {
  height: 20%;
  background-color: #F5DFB3;
  margin: 0;
  text-align: center;
  padding: 30px 0 40px 0;
}

.leftdiv {
  text-align: center;
  background-color: #8FBC8E;
  height: auto;
}

.output {
  height: 40%;
  width: 40%;
  overflow: scroll;
  position: fixed;
  border: 1px solid #bbb;
}

#result {
  list-style: none;
}
